{% extends '_layouts/cp' %}
{% from "_includes/forms" import text -%}

{% set title = 'Delete A Single Template Cache'|t %}
{% set caches = craft.SingleTemplateCache.getAll %}
{% set totalCount = craft.SingleTemplateCache.count %}

{% set content %}

  {% if caches|length == 0 %}
    <p id="no-reroutes">{{ 'There are no template caches!'|t }}</p>
  {% else %}

    <div class="main">
      <div class="toolbar">
        <table class="inputs fullwidth collapsible">
          <tr>
            <td>
              <div class="texticon search icon clearable">
                {{ text({
                  placeholder: "Search"|t
                }) }}
                <div class="clear hidden" title="{{ 'Clear'|t }}"></div>
              </div>
            </td>
          </tr>
        </table>
        <div class="spinner hidden"></div>
        <div class="elements"></div>
      </div>
    </div>


    <div class="buttons">
      <a class="btn submit disabled multipleDelete icon">{{ 'Delete selected'|t }}</a>
    </div>
    <div class="elements">
      <div class="tableview">
        <table id="caches" class="data fullwidth">
          <thead>
            <td class="thin checkbox-cell"><div class="checkbox checkbox--all" title="Select"></div></td>
            <th scope="col">{{ 'Cache Key'|t }}</th>
            <th scope="col">{{ 'Path'|t }}</th>
            <th scope="col">{{ 'Expiry Date'|t }}</td>
            <th scope="col" style="width: 60px">{{ 'Locale'|t }}</td>
            <th scope="col" style="width: 60px">{{ 'Delete'|t }}</th>
          </thead>
          <tbody class="caches--replace">
            {% for cache in caches %}
              <tr data-id="{{ cache.cacheKey }}" data-name="{{ cache.cacheKey }}">
                <td><div class="checkbox" title="Select" data-id="{{ cache.cacheKey }}"></div></td>
                <td>{{ cache.cacheKey }}</td>
                <td>{{ cache.path }}</td>
                <td>{{ cache.expiryDate }}</td>
                <td>{{ cache.locale }}</td>
                <td><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="centeralign loadingmore--parent hidden"><div class="spinner loadingmore"></div></div>

    <div class="buttons">
      <a class="btn submit disabled multipleDelete icon">{{ 'Delete selected'|t }}</a>
    </div>
  {% endif %}

{% endset %}

{% set js %}
  new Craft.AdminTable({
    tableSelector: '#caches',
    noObjectsSelector: '#no-caches',
    deleteAction: 'SingleTemplateCache/delete'
  });

  var timer, empty;

  window.csrfTokenName = "{{ craft.config.csrfTokenName|e('js') }}";
  window.csrfTokenValue = "{{ craft.request.csrfToken|e('js') }}";

  function doAjax(post, method, append, callback) {
    post[csrfTokenName] = csrfTokenValue;

    $.ajax({
      method: 'POST',
      url: method,
      data: post,
      success: function(data) {
        $('.spinner').addClass('hidden');
        if (append) {
          $('tbody.caches--replace').append(data['html']);
        } else {
          $('tbody.caches--replace').html(data['html']);
        }

        empty = (data['count'] == 0) ? true : false;

        new Craft.AdminTable({
          tableSelector: '#caches',
          deleteAction: 'SingleTemplateCache/delete'
        });

        if (callback)
          callback();
      }
    });
  }

  function doClear() {
    $('.text.fullwidth').val('');
    $('.spinner').removeClass('hidden');
    $('.multipleDelete').addClass('disabled');

    var data = { search: '' };
    data[csrfTokenName] = csrfTokenValue;

    doAjax(data, '/actions/SingleTemplateCache/search', false);
  }

  $('.clear').on('click', function() {
    doClear();
    $(this).addClass('hidden');
  });

  $(document).on('keyup', '.text.fullwidth',function(){
    $('.clear').removeClass('hidden');
    $('.spinner').removeClass('hidden');
    clearTimeout(timer);
    timer = setTimeout(function() {
      var searchterm = encodeURIComponent($('.text.fullwidth').val());

      var data = {search: searchterm};

      doAjax(data, '/actions/SingleTemplateCache/search');
    }, 300);
  });

  $(document).on('click', '.multipleDelete', function() {
    $ids = [];

    $('body').find('#caches .sel').each(function() {
      $ids.push($(this).attr('data-id'));
    });

    var data = {id: $ids};
    doAjax(data, '/actions/SingleTemplateCache/delete', false, doClear);
  });

  $('body').on('click','.checkbox',function() {
    $(this).closest('tr').toggleClass('sel');

    if ($('body').find('#caches .sel').length > 0) {
      if ($('.multipleDelete').hasClass('disabled')) {
        $('.multipleDelete').removeClass('disabled')
      }
    } else {
      $('.multipleDelete').addClass('disabled')
    }
  });

  $('body').on('click','.checkbox--all',function() {
    $('body').find('#caches .checkbox').each(function() {
      $(this).closest('tr').toggleClass('sel');
    });
  });

  page = 2, count = 100, processing = false;

  $(window).scroll(function() {
    if ($(window).scrollTop() >=  $('.tableview').height() - $(window).height()) {
      if(count < {{totalCount|length}}) {

        if (!processing && !empty) {
          processing = true;
          $('.loadingmore--parent').removeClass('hidden');

          var searchterm = encodeURIComponent($('.text.fullwidth').val());
          var data = {search: searchterm, page: page};

          doAjax(data, '/actions/SingleTemplateCache/search', true, function() {
            page++;
            count = count + 100;
            processing = false;
            $('.loadingmore--parent').addClass('hidden');
          });
        }
      }
    }
  });
{% endset %}

{% includeJs js %}
